@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  background: url("./assets/images/Angel.jpeg") no-repeat center center fixed;
  background-size: cover;
}
