.dice-box-container {
  max-height: 10%;
}
.dice-container {
  display: flex;
  flex-direction: row; /* Dispose les dés horizontalement */
  justify-content: space-evenly; /* Centre les dés horizontalement */
  gap: 20px; /* Espacement entre les dés */
}

.dice-image {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour donner du relief */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Transition pour l'effet de survol */
}

.dice-image:hover {
  transform: scale(1.1); /* Agrandissement au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
}

.dice-image:active {
  transform: scale(0.9); /* Réduction au clic */
}

.message {
  background-color: #e68900;
  font-size: 24px;
  margin-top: 20px; /* Espacement plus large au-dessus du message */
  color: #f0f0f0; /* Couleur de texte claire pour contraster avec le fond */
  text-align: center; /* Centrer le texte */
  font-family: "Arial", sans-serif; /* Police simple et moderne */
}
@media (max-width: 390px) {
  .dice-box-container {
    max-height: auto; /* Permet à la boîte de contenir le contenu sans restriction de hauteur */
  }

  .dice-container {
    flex-direction: column; /* Dispose les dés verticalement */
    align-items: center; /* Centre les dés verticalement */
    gap: 10px; /* Réduit l'espacement entre les dés */
  }

  .dice-image {
    width: 80px; /* Réduit la largeur des dés */
    height: 80px; /* Réduit la hauteur des dés */
  }

  .message {
    font-size: 18px; /* Réduit la taille de la police pour les petits écrans */
    margin-top: 15px; /* Réduit l'espacement au-dessus du message */
  }
}
